In [32]:
import pandas as pd
import geopandas as gpd

In [33]:
df = pd.read_csv('DOH COVID Data Drop_ 20220917 - 04 Case Information_batch_3.csv')
df.head()

C:\Users\baja0\AppData\Local\Temp\ipykernel_18692\1482925416.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('DOH COVID Data Drop_ 20220917 - 04 Case Information_batch_3.csv')

,CaseCode,Age,AgeGroup,Sex,DateSpecimen,DateResultRelease,DateRepConf,DateDied,DateRecover,RemovalType,...,ProvRes,CityMunRes,CityMuniPSGC,BarangayRes,BarangayPSGC,HealthStatus,Quarantined,DateOnset,Pregnanttab,ValidationStatus
0,C79128876,40.0,40 to 44,MALE,2022-01-07,2022-01-10,2022-01-11,NaN,NaN,RECOVERED,...,NCR,CITY OF PARAÑAQUE,PH137604000,SAN ISIDRO,PH137604013,RECOVERED,NO,NaN,NaN,"Removal Type is ""Recovered"", but no Recovered ..."
1,C94164354,40.0,40 to 44,FEMALE,2022-01-08,2022-01-09,2022-01-11,NaN,NaN,RECOVERED,...,RIZAL,SAN MATEO,PH045811000,GUITNANG BAYAN II (POB.),PH045811006,RECOVERED,NO,2022-01-05,NO,"Health Status is ""Recovered"", but no Date Reco..."
2,C1733397,41.0,40 to 44,MALE,2022-01-06,2022-01-07,2022-01-11,NaN,NaN,RECOVERED,...,NCR,CITY OF PASIG,PH137403000,KAPITOLYO,PH137403009,RECOVERED,NO,NaN,NaN,"Removal Type is ""Recovered"", but no Recovered ..."
3,C95771390,50.0,50 to 54,FEMALE,2022-01-07,2022-01-09,2022-01-11,NaN,NaN,RECOVERED,...,NCR,CALOOCAN CITY,PH137501000,BARANGAY 100,PH137501100,RECOVERED,NO,NaN,NO,"Removal Type is ""Recovered"", but no Recovered ..."
4,C44529762,26.0,25 to 29,FEMALE,NaN,2022-01-07,2022-01-11,NaN,NaN,RECOVERED,...,NCR,CALOOCAN CITY,PH137501000,BARANGAY 178,PH137501178,RECOVERED,NO,NaN,NO,"Removal Type is ""Recovered"", but no Recovered ..."

In [50]:
health_status = df[(df.HealthStatus != 'RECOVERED') & (df.HealthStatus != 'DIED')]
health_status

,CaseCode,Age,AgeGroup,Sex,DateSpecimen,DateResultRelease,DateRepConf,DateDied,DateRecover,RemovalType,...,ProvRes,CityMunRes,CityMuniPSGC,BarangayRes,BarangayPSGC,HealthStatus,Quarantined,DateOnset,Pregnanttab,ValidationStatus
33380,C184203,29.0,25 to 29,FEMALE,2022-01-08,2022-01-09,2022-01-12,NaN,NaN,NaN,...,BATAAN,MARIVELES,PH030807000,TOWNSITE,PH030807020,MILD,NO,NaN,NO,"Removal Type is ""Recovered"", but no Recovered ..."
183624,C72317810,49.0,45 to 49,FEMALE,2022-01-11,2022-01-14,2022-01-16,2021-09-14,NaN,NaN,...,NCR,QUEZON CITY,PH137404000,CENTRAL,PH137404020,MILD,NO,NaN,NO,"Case has Lab Result, but Result Date is blank"
257392,C236300,27.0,25 to 29,MALE,2022-01-15,2022-01-16,2022-01-18,NaN,NaN,NaN,...,NCR,PASAY CITY,PH137605000,BARANGAY 183,PH137605183,MILD,NO,NaN,NaN,Age or Birthdate is Invalid\nHealth Status is ...
276650,C195533,77.0,75 to 79,MALE,2022-01-16,2022-01-17,2022-01-19,2022-01-16,NaN,NaN,...,BENGUET,BAGUIO CITY,PH141102000,AURORA HILL PROPER (MALVAR-SGT. FLORESCA),PH141102067,MILD,NO,NaN,NaN,Age or Birthdate is Invalid\nUnexpected change...
381006,C22334890,66.0,65 to 69,FEMALE,2022-01-17,2022-01-19,2022-01-22,2022-01-18,NaN,NaN,...,ZAMBOANGA DEL SUR,LABANGAN,PH097312000,BOKONG,PH097312006,MILD,NO,2021-05-04,NO,"Case has Lab Result, but Result Date is blank\..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
918324,C64764865,32.0,30 to 34,FEMALE,2022-09-12,2022-09-12,2022-09-17,NaN,NaN,NaN,...,CEBU,CEBU CITY (CAPITAL),PH072217000,TISA,PH072217085,MILD,NO,NaN,NO,"Removal Type is ""Recovered"", but no Recovered ..."
918325,C95923867,29.0,25 to 29,FEMALE,2022-09-14,2022-09-14,2022-09-17,NaN,NaN,NaN,...,NCR,CITY OF VALENZUELA,PH137504000,PASOLO,PH137504024,MILD,NO,2022-09-14,NO,NaN
918326,C66886479,72.0,70 to 74,FEMALE,2022-09-14,2022-09-14,2022-09-17,NaN,NaN,NaN,...,QUEZON,LUCENA CITY (CAPITAL),PH045624000,MAYAO PARADA,PH045624029,MILD,NO,NaN,NO,"Removal Type is ""Recovered"", but no Recovered ..."
918327,C87440649,15.0,15 to 19,MALE,2022-09-12,2022-09-14,2022-09-17,NaN,NaN,NaN,...,LA UNION,NaN,NaN,NaN,NaN,MILD,NO,2022-09-10,NaN,NaN
918328,C54219057,27.0,25 to 29,FEMALE,2022-09-14,2022-09-14,2022-09-17,NaN,NaN,NaN,...,DAVAO DEL SUR,DAVAO CITY,PH112402000,BARANGAY 20-B (POB.),PH112402153,MILD,NO,NaN,NO,NaN

In [42]:
MILD = health_status[(health_status.HealthStatus == 'MILD')].groupby('BarangayPSGC', as_index=False).agg(mild = ('HealthStatus', 'count')).sort_values('mild', ascending=False)
CRITICAL = health_status[(health_status.HealthStatus == 'CRITICAL')].groupby('BarangayPSGC', as_index=False).agg(critical = ('HealthStatus', 'count')).sort_values('critical', ascending=False)
SEVERE = health_status[(health_status.HealthStatus == 'SEVERE')].groupby('BarangayPSGC', as_index=False).agg(severe = ('HealthStatus', 'count')).sort_values('severe', ascending=False)
ASYMPTOMATIC = health_status[(health_status.HealthStatus == 'ASYMPTOMATIC')].groupby('BarangayPSGC', as_index=False).agg(asymptomatic = ('HealthStatus', 'count')).sort_values('asymptomatic', ascending=False)
MODERATE = health_status[(health_status.HealthStatus == 'MODERATE')].groupby('BarangayPSGC', as_index=False).agg(moderate = ('HealthStatus', 'count')).sort_values('moderate', ascending=False)

In [87]:
summary = ASYMPTOMATIC
summary = summary.merge(MILD, how='outer', on='BarangayPSGC')
summary = summary.merge(MODERATE, how='outer', on='BarangayPSGC')
summary = summary.merge(CRITICAL, how='outer', on='BarangayPSGC')
summary = summary.merge(SEVERE, how='outer', on='BarangayPSGC')
summary

     BarangayPSGC  asymptomatic   mild  moderate  critical  severe
0     PH137605076          54.0  146.0       NaN       NaN     NaN
1     PH137607020          51.0  133.0       2.0       NaN     NaN
2     PH137604007          36.0   65.0       NaN       NaN     1.0
3     PH137604008          34.0   49.0       1.0       NaN     NaN
4     PH137401027          33.0   38.0       NaN       NaN     NaN
...           ...           ...    ...       ...       ...     ...
7556  PH041031040           NaN    NaN       NaN       NaN     1.0
7557  PH041031014           NaN    NaN       NaN       NaN     1.0
7558  PH041030006           NaN    NaN       NaN       NaN     1.0
7559  PH041024001           NaN    NaN       NaN       NaN     1.0
7560  PH041005082           NaN    NaN       NaN       NaN     1.0

[7561 rows x 6 columns]

In [76]:
gdf = gpd.read_file('Barangays.shp')
gdf

,ADM1_PCODE,ADM2_PCODE,ADM3_PCODE,ADM4_PCODE,ADM4_EN,ADM3_EN,ADM2_EN,ADM1_EN,ADM_ID,UPDATED,PERIMETER,AREA,LONGITUDE,LATITUDE,geometry
0,PH010000000,PH015500000,PH015502000,PH015502012,Pogomboa,Aguilar,Pangasinan,Region I,15502012.0,2017-12-31,5590.506,1.745360e+06,120.243,15.882,"POLYGON ((120.25441 15.88112, 120.24723 15.878..."
1,PH010000000,PH015500000,PH015502000,PH015502013,Pogonsili,Aguilar,Pangasinan,Region I,15502013.0,2017-12-31,30658.516,2.011989e+07,120.215,15.791,"POLYGON ((120.26372 15.81724, 120.25821 15.811..."
2,PH010000000,PH015500000,PH015502000,PH015502014,San Jose,Aguilar,Pangasinan,Region I,15502014.0,2017-12-31,13404.869,5.289032e+06,120.280,15.867,"POLYGON ((120.28018 15.87048, 120.27885 15.870..."
3,PH010000000,PH015500000,PH015502000,PH015502016,Tampac,Aguilar,Pangasinan,Region I,15502016.0,2017-12-31,6235.011,1.721892e+06,120.251,15.875,"POLYGON ((120.26163 15.87600, 120.26149 15.875..."
4,PH010000000,PH015500000,PH015502000,PH015502017,Laoag,Aguilar,Pangasinan,Region I,15502017.0,2017-12-31,36419.270,3.944797e+07,120.191,15.856,"POLYGON ((120.22100 15.88999, 120.22163 15.886..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42053,PH060000000,PH064500000,PH064528000,PH064528030,San Fernando,City of Talisay,Negros Occidental,Region VI,64528030.0,2017-12-31,56663.333,5.931499e+07,123.146,10.685,"POLYGON ((123.06000 10.72726, 123.06032 10.727..."
42054,PH060000000,PH064500000,PH064529000,PH064529003,General Luna,Toboso,Negros Occidental,Region VI,64529003.0,2017-12-31,16086.330,1.003181e+07,123.496,10.700,"MULTIPOLYGON (((123.50895 10.70833, 123.50920 ..."
42055,PH060000000,PH064500000,PH064529000,PH064529005,Poblacion,Toboso,Negros Occidental,Region VI,64529005.0,2017-12-31,13879.327,5.166720e+06,123.508,10.723,"MULTIPOLYGON (((123.51869 10.72663, 123.51888 ..."
42056,PH060000000,PH064500000,PH064530000,PH064530013,Palaka,Valladolid,Negros Occidental,Region VI,64530013.0,2017-12-31,7303.044,2.319697e+06,122.827,10.480,"POLYGON ((122.83312 10.48849, 122.83402 10.488..."
42057,PH060000000,PH064500000,PH064530000,PH064530014,Paloma,Valladolid,Negros Occidental,Region VI,64530014.0,2017-12-31,8528.310,2.355958e+06,122.833,10.464,"POLYGON ((122.83312 10.47196, 122.83320 10.471..."

In [88]:
gpd_summary = gpd.GeoDataFrame(summary)

In [89]:
merged_data = gpd.GeoDataFrame.merge(gpd_summary, gdf, how='right', left_on='BarangayPSGC', right_on='ADM4_PCODE')

merged_data.set_crs('epsg:4326')

merged_data.fillna(0, inplace=True)

c:\Users\baja0\AppData\Local\Programs\Python\Python39\lib\site-packages\geopandas\geodataframe.py:1503: FutureWarning: Accessing CRS of a GeoDataFrame without a geometry column is deprecated and will be removed in GeoPandas 0.12. Use GeoDataFrame.set_geometry to set the active geometry column.
  result.crs = self.crs

In [90]:
# merged_data.to_csv('sample1.csv')

In [91]:
# sample = pd.read_csv('sample1.csv')
# sample.columns

Index(['Unnamed: 0', 'BarangayPSGC', 'asymptomatic', 'mild', 'moderate',
       'critical', 'severe', 'ADM1_PCODE', 'ADM2_PCODE', 'ADM3_PCODE',
       'ADM4_PCODE', 'ADM4_EN', 'ADM3_EN', 'ADM2_EN', 'ADM1_EN', 'ADM_ID',
       'UPDATED', 'PERIMETER', 'AREA', 'LONGITUDE', 'LATITUDE', 'geometry'],
      dtype='object')